version: 2.1

orb:
  python: circleci/python@1.0.0

jobs:
  build-and-test:
    executor:
      name: python/default
      tag: '3.11'
    steps:
      - checkout
      - run:
          name: Setup Virtual Env
          command: |
            vurtualenv -p python3.7 env
            echo "source ./env/bin/activate" >> $BASH_ENV
      - run:
          name: Install Dependencies
          command: pip install -r requirements.txt

workflows:
  build-test-and-deploy:
    jobs:
      - build-and-test:
          filters:
            branches:
              only:
                - main


